<html>
  <head>
    <style>
      .title{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Surat Keterangan</h1>

    <p>{{ data.no_surat }}</p>
    <p>asdf</p>
  </body>
</html>